<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">
	<resultMap type="Attendance" id="attendanceResultSet">
		<id property="attendance_no" column="ATTENDANCE_NO"/>
		<result property="work_on" column="WORK_ON"/>
		<result property="work_off" column="WORK_OFF"/>
		<result property="attendance_type" column="ATTENDANCE_TYPE"/>
	</resultMap>
	
	<insert id="insertattendance" parameterType="_int">
	INSERT INTO ATTENDANCE VALUES(
		SEQ_ATTNO.NEXTVAL, #{ mno }, SYSDATE, NULL, 1
	)
	
	</insert>
	
	<select id="selectattendance" parameterType="_int" resultMap="attendanceResultSet">
	 	SELECT *
	 	FROM ATTENDANCE
	 	WHERE MNO=#{mno}
	 	AND TO_CHAR(WORK_ON,'YYYYMMDD')=TO_CHAR(SYSDATE,'YYYYMMDD')
	 	
	 	
	</select>
	
	<update id="updateattendance" parameterType="_int">
		UPDATE ATTENDANCE
		SET WORK_OFF=SYSDATE
		WHERE MNO=#{mno}	
		AND TO_CHAR(WORK_ON,'YYYYMMDD')=TO_CHAR(SYSDATE,'YYYYMMDD')
	</update>
	
	<select id="selectcheckattendance" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM ATTENDANCE
		WHERE MNO=#{mno}
		AND TO_CHAR(WORK_ON,'YYYYMMDD')=TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
	
	<insert id="insertattendanceover" parameterType="_int">
	INSERT INTO ATTENDANCE VALUES(
		SEQ_ATTNO.NEXTVAL, #{ mno }, SYSDATE, NULL, 2
	)
	
	</insert>
	
	<!-- 지각한 개수 select 현재날짜와 비교 이번달 인것만 개수 가져오기 -->
	<select id="selectOvertimeCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*)
		FROM ATTENDANCE
		WHERE ATTENDANCE_TYPE = 2
		AND MNO=#{mno}
		AND TO_CHAR(work_on, 'yyyyMM') = to_char(sysdate, 'yyyyMM')
	</select>
	
	<!-- 미처리 개수 가져오기 -->
	<select id="selectworkoffCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*)
		FROM WORK
		WHERE WK_STATUS= 'W'
		AND MNO=#{mno}
	</select>
	
	
	  <select id="selectworkCount" resultType="_int" parameterType="_int">
	  	SELECT COUNT(*)
	  	FROM ATTENDANCE
		WHERE ATTENDANCE_TYPE = 3
		<!-- or attendance_type = 2 -->
		AND MNO=#{mno}
		AND TO_CHAR(work_off, 'yyyyMM') = to_char(sysdate, 'yyyyMM')
	  </select>
	  
	  <select id="selectListCount" resultType="_int">
	  SELECT COUNT(*)
	  	FROM ATTENDANCE
		WHERE MNO=#{mno}
		AND TO_CHAR(work_on, 'yyyyMM') = to_char(sysdate, 'yyyyMM')
	  
	  </select>
	  
	  <select id="selectList" resultMap="attendanceResultSet" parameterType="_int">
	  	SELECT *
	  	FROM ATTENDANCE
	  	WHERE MNO=#{mno}
	  	ORDER BY ATTENDANCE_NO DESC
	  </select>
	  
	  <select id="selectallListCount" resultType="_int" parameterType="_int">
	  	SELECT COUNT(*)
		FROM ANNUAL
		WHERE MNO=#{mno}
	  </select>
	  
	  <!-- 검색 카운트 -->
	  <select id="shListCount"  resultType="_int">
	  	SELECT COUNT(*)
	  	FROM ATTENDANCE
	  	WHERE MNO=#{mno}
	  	<if test="searchCondition != null">
         <choose>
            <when test="searchCondition == '10'">
                  AND ATTENDANCE_TYPE in('2','3')
            </when>
            <otherwise>
               AND ATTENDANCE_TYPE = #{searchCondition}
            </otherwise>
         </choose>
         </if>
           <if test="SearchValue != null">
         	AND TO_CHAR(work_on, 'YYYYMMDD') = to_char(#{SearchValue}, 'YYYYMMDD')
	  	</if>

	  </select>
	  
	 <select id="attSearch" resultMap="attendanceResultSet">
	 	SELECT *
	  	FROM ATTENDANCE
	  	WHERE MNO=#{mno}
	  	<if test="searchCondition != null">
         <choose>
            <when test="searchCondition == '10'">
                  AND ATTENDANCE_TYPE in('2','3')
            </when>
            <otherwise>
               AND ATTENDANCE_TYPE = #{searchCondition}
            </otherwise>
         </choose>
         </if>
         <if test="SearchValue != null">
         	AND TO_CHAR(work_on, 'YYYYMMDD') = to_char(#{SearchValue}, 'YYYYMMDD')
	  	</if>
	 
	 </select>
	 
	
	
</mapper>