<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">
	<resultMap type="Calendar" id="calendarResultSet">
		<id property="cId" column="PID"/>
		<result property="cDate" column="P_DATE"/>
		<result property="cBeginTime" column="P_BEGIN_TIME"/>
		<result property="cEndTime" column="P_END_TIME"/>
		<result property="cKind" column="P_KIND"/>
		<result property="cTitle" column="P_TITLE"/>
		<result property="cPlace" column="P_PLACE"/>
		<result property="mName" column="MNAME"/>
		<result property="pTitle" column="PTITLE"/>
	</resultMap>
	
	<resultMap type="Project" id="projectResultSet">
		<id property="pId" column="PID"/>
		<result property="pTitle" column="PTITLE"/>
		<result property="pContent" column="PCONTENT"/>
		<result property="progress" column="PROGRESS"/>
		<result property="pDate" column="PDATE"/>
		<result property="deadLine" column="DEADLINE"/>
		<result property="pStatus" column="PSTATUS"/>
		<result property="manager" column="MANAGER"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<id property="mNo" column="MNO"/>
		<result property="mId" column="MID"/>
		<result property="mPwd" column="MPWD"/>
		<result property="mName" column="MNAME"/>
		<result property="age" column="AGE"/>
		<result property="gender" column="GENDER"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="phone" column="PHONE"/>
		<result property="exNumber" column="EXNUMBER"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="mLevel" column="M_LEVEL"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>	
	</resultMap>
	
	<resultMap type="Pmember" id="pmemberResultSet">
		<id property="mNo" column="MNO"/>
		<result property="pKinds" column="P_KINDS"/>
		<result property="pmStatus" column="PM_STATUS"/>
		<result property="ptId" column="PT_ID"/>
		<result property="pId" column="PID"/>
	</resultMap>
	
	<select id="selectCalendarList" resultMap="calendarResultSet">
		SELECT *
		FROM PLAN
		WHERE P_DATE LIKE '%' || #{cDate} || '%'
		AND MNAME = #{mName}
		ORDER BY P_DATE ASC, LPAD(P_BEGIN_TIME, 5, '0') ASC
	</select>
	
	<select id="selectOnedayList" resultMap="calendarResultSet">
		SELECT PID, <!-- TO_NUMBER(TO_CHAR(P_DATE, 'RRRRMMDD')) --> TO_CHAR(P_DATE, 'RRRRMMDD') P_DATE, P_BEGIN_TIME, P_END_TIME, P_KIND, P_TITLE, P_PLACE, P.MNAME, PTITLE
		FROM PLAN P
		JOIN MEMBER M ON(P.MNAME=M.MNO)
		WHERE P_DATE=TO_DATE(#{cDate}, 'YYMMDD')
		AND MNO=#{mName}
		ORDER BY LPAD(P_BEGIN_TIME, 5, '0') ASC
	</select>
	
	<select id="selectProjectTitleList" resultMap="projectResultSet">
		SELECT PTITLE
		FROM PROJECT
	</select>
	
	<select id="selectInsertCheck" resultMap="calendarResultSet">
		SELECT PID
		FROM PLAN
		WHERE P_DATE=TO_DATE(#{cDate}, 'YY-MM-DD')
		AND P_BEGIN_TIME=#{cBeginTime}
	</select>
	
	<insert id="insertCalendar" parameterType="Calendar">
		INSERT INTO PLAN VALUES(
			SEQ_PID.NEXTVAL, #{cDate}, #{cBeginTime}, #{cEndTime},
			#{cKind}, #{cTitle}, #{cPlace}, #{mName}, #{pTitle}
		)
	</insert>
	
	<select id="selectOnedayUpView" resultMap="calendarResultSet">
		SELECT PID, TO_CHAR(P_DATE, 'RRRRMMDD') P_DATE, P_BEGIN_TIME, P_END_TIME, P_KIND, P_TITLE, P_PLACE, MNAME, PTITLE
		FROM PLAN
		WHERE PID=#{pId}
	</select>
	
	<update id="updateCalendar" parameterType="_int">
		UPDATE PLAN
		SET P_DATE=#{cDate}, P_BEGIN_TIME=#{cBeginTime},
			P_END_TIME=#{cEndTime}, P_KIND=#{cKind}, P_TITLE=#{cTitle}, 
			P_PLACE=#{cPlace}, PTITLE=#{pTitle}
	</update>
	
	<delete id="delectCalendar" parameterType="_int">
		DELETE FROM PLAN
		WHERE PID=#{pId}
	</delete>
	
	<select id="selectCalPid" parameterType="_int" resultMap="pmemberResultSet">
		SELECT P.PID
		FROM MEMBER M
		JOIN PMEMBER P USING (MNO)
		WHERE MNO = #{mNo}
	</select>
	
	<select id="selectCalDMemberList" resultMap="memberResultSet">
		SELECT MNO, MNAME, J.JOB_TITLE JOB_CODE
		FROM MEMBER M
		JOIN JOB J USING (JOB_CODE)
		WHERE DEPT_CODE = #{deptCode}
		ORDER BY MNO ASC
	</select>
	
	<select id="selectDeptTitle" parameterType="string">
		SELECT DEPT_TITLE DEPTTITLE
		FROM DEPT
		WHERE DEPT_CODE=${deptCode}
	</select>
	
	<select id="selectCalTMemberList" resultMap="memberResultSet">
		SELECT MNO, M.MNAME, J.JOB_TITLE JOB_CODE
		FROM MEMBER M
		JOIN PMEMBER P USING (MNO)
		JOIN JOB J USING (JOB_CODE)
		WHERE P.PID = #{pId}
		ORDER BY MNO ASC
	</select>
	
	<select id="selectTeamTitle" parameterType="string">
		SELECT PT_TITLE
		FROM PTEAM
		WHERE PID=#{pId}
	</select>
	
</mapper>