<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">
	<resultMap type="Calendar" id="calendarResultSet">
		<id property="cId" column="CID"/>
		<result property="cDate" column="C_DATE"/>
		<result property="cBeginTime" column="C_BEGIN_TIME"/>
		<result property="cEndTime" column="C_END_TIME"/>
		<result property="cKind" column="C_KIND"/>
		<result property="cTitle" column="C_TITLE"/>
		<result property="cPlace" column="C_PLACE"/>
		<result property="mName" column="MNAME"/>
		<result property="pTitle" column="PTITLE"/>
	</resultMap>
	
	<resultMap type="Project" id="projectResultSet">
		<id property="pId" column="PID"/>
		<result property="pTitle" column="PTITLE"/>
		<result property="pContent" column="PCONTENT"/>
		<result property="progress" column="PROGRESS"/>
		<result property="pDate" column="PDATE"/>
		<result property="deadLine" column="DEADLINE"/>
		<result property="pStatus" column="PSTATUS"/>
		<result property="manager" column="MANAGER"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<id property="mNo" column="MNO"/>
		<result property="mId" column="MID"/>
		<result property="mPwd" column="MPWD"/>
		<result property="mName" column="MNAME"/>
		<result property="age" column="AGE"/>
		<result property="gender" column="GENDER"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="phone" column="PHONE"/>
		<result property="exNumber" column="EXNUMBER"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="mLevel" column="M_LEVEL"/>
		<result property="mStatus" column="M_STATUS"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>	
	</resultMap>
	
	<resultMap type="Pmember" id="pmemberResultSet">
		<id property="mNo" column="MNO"/>
		<result property="pKinds" column="P_KINDS"/>
		<result property="pmStatus" column="PM_STATUS"/>
		<result property="ptId" column="PT_ID"/>
		<result property="pId" column="PID"/>
	</resultMap>
	
	<resultMap type="Annual" id="annualResultSet">
		<id property="annual_no" column="ANNUAL_NO"/>
		<result property="mno" column="MNO"/>
		<result property="annual_start" column="ANNUAL_START"/>
		<result property="annual_end" column="ANNUAL_END"/>
		<result property="annual_day_count" column="ANNUAL_DAY_COUNT"/>
		<result property="annual_day_use" column="ANNUAL_DAY_USE"/>
		<result property="annual_day_remain" column="ANNUAL_DAY_REMAIN"/>
		<result property="annual_type" column="ANNUAL_TYPE"/>
		<result property="annual_content" column="ANNUAL_CONTENT"/>
		<result property="annual_halftime" column="ANNUAL_HALFTIME"/>
		<result property="annual_signupday" column="ANNUAL_SIGNUPDAY"/>
		<result property="ann_status" column="ANN_STATUS"/>
	</resultMap>
	
	<select id="selectCalendarList" resultMap="calendarResultSet">
		SELECT *
		FROM CALENDAR
		WHERE C_DATE LIKE '%' || #{cDate} || '%'
		AND MNAME = #{mName}
		ORDER BY C_DATE ASC, LPAD(C_BEGIN_TIME, 5, '0') ASC
	</select>
	
	<select id="selectOnedayList" resultMap="calendarResultSet">
		SELECT CID, <!-- TO_NUMBER(TO_CHAR(C_DATE, 'RRRRMMDD')) --> TO_CHAR(C_DATE, 'RRRRMMDD') C_DATE, C_BEGIN_TIME, C_END_TIME, C_KIND, C_TITLE, C_PLACE, C.MNAME, PTITLE
		FROM CALENDAR C
		JOIN MEMBER M ON(C.MNAME=M.MNO)
		WHERE C_DATE=TO_DATE(#{cDate}, 'YYMMDD')
		AND MNO=#{mName}
		ORDER BY LPAD(C_BEGIN_TIME, 5, '0') ASC
	</select>
	
	<select id="selectProjectTitleList" resultMap="projectResultSet">
		SELECT PTITLE
		FROM PROJECT
	</select>
	
	<select id="selectInsertCheck" resultMap="calendarResultSet">
		SELECT CID
		FROM CALENDAR
		WHERE C_DATE=TO_DATE(#{cDate}, 'YY-MM-DD')
		AND C_BEGIN_TIME=#{cBeginTime}
	</select>
	
	<select id="selectCalAnnualCheck" resultMap="annualResultSet">
		SELECT *
		FROM ANNUAL
		WHERE ANNUAL_START=#{cDate} OR ANNUAL_END=#{cDate}
	</select>
	
	<insert id="insertCalendar" parameterType="Calendar">
		INSERT INTO CALENDAR VALUES(
			SEQ_CID.NEXTVAL, #{cDate}, #{cBeginTime}, #{cEndTime},
			#{cKind}, #{cTitle}, #{cPlace}, #{mName}, #{pTitle})
	</insert>
	
	<select id="selectOnedayUpView" resultMap="calendarResultSet">
		SELECT CID, TO_CHAR(C_DATE, 'RRRRMMDD') C_DATE, C_BEGIN_TIME, C_END_TIME, C_KIND, C_TITLE, C_PLACE, MNAME, PTITLE
		FROM CALENDAR
		WHERE CID=#{cId}
	</select>
	
	<update id="updateCalendar" parameterType="_int">
		UPDATE CALENDAR
		SET C_DATE=TO_DATE(#{cDate}, 'RRRRMMDD'), C_BEGIN_TIME=#{cBeginTime},
			C_END_TIME=#{cEndTime}, C_KIND=#{cKind}, C_TITLE=#{cTitle}, 
			C_PLACE=#{cPlace}, PTITLE=#{pTitle}
		WHERE CID=#{cId}
	</update>
	
	<delete id="delectCalendar" parameterType="_int">
		DELETE FROM CALENDAR
		WHERE CID=#{cId}
	</delete>
	
	<select id="selectCalPid" parameterType="_int" resultMap="pmemberResultSet">
		SELECT P.PID
		FROM MEMBER M
		JOIN PMEMBER P USING (MNO)
		WHERE MNO = #{mNo}
	</select>
	
	<select id="selectCalDMemberList" resultMap="memberResultSet">
		SELECT MNO, MNAME, J.JOB_TITLE JOB_CODE
		FROM MEMBER M
		JOIN JOB J USING (JOB_CODE)
		WHERE DEPT_CODE = #{deptCode}
		ORDER BY MNO ASC
	</select>
	
	<select id="selectDeptTitle" parameterType="String" resultType="String">
		SELECT DEPT_TITLE
		FROM DEPT
		WHERE DEPT_CODE='${value}'
	</select>
	
	<select id="selectCalTMemberList" resultMap="memberResultSet">
		SELECT MNO, M.MNAME, J.JOB_TITLE JOB_CODE
		FROM MEMBER M
		JOIN PMEMBER P USING (MNO)
		JOIN JOB J USING (JOB_CODE)
		WHERE P.PID = #{pId}
		ORDER BY MNO ASC
	</select>
	
	<select id="selectTeamTitle" parameterType="String" resultType="String">
		SELECT PT_TITLE
		FROM PTEAM
		WHERE PID='#{value}'
	</select>
	
	<select id="selectCalAnnualList" resultMap="annualResultSet">
		SELECT *
		FROM ANNUAL
		WHERE MNO = #{mNo}
	</select>
	
	<select id="selectCalJTitle" resultType="String">
		SELECT JOB_TITLE
		FROM MEMBER 
		JOIN JOB USING(JOB_CODE)
		WHERE MNO=#{mNo}
	</select>
	
	<select id="selectCalDTitle" resultType="String">
		SELECT DEPT_TITLE
		FROM MEMBER
		JOIN DEPT USING(DEPT_CODE)
		WHERE MNO=#{mNo}
	</select>
	
	<select id="selectCalPtid" resultType="_int">
		SELECT PT_ID
		FROM PMEMBER
		WHERE MNO=#{mNo}
	</select>
	
	<select id="selectCaltTitle" resultType="String">
		SELECT PT_TITLE
		FROM PTEAM
		WHERE PT_ID=#{ptid}
	</select>
</mapper>