<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>	
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.hongk.member.model.vo.Member" alias="Member"/>
		<typeAlias alias="Electronic_Approval" type="com.kh.hongk.approval.model.vo.Electronic_Approval"/>
		<typeAlias alias="Form" type="com.kh.hongk.approval.model.vo.Form"/>
		<typeAlias type="com.kh.hongk.project.model.vo.Project" alias="Project"/>
		<typeAlias type="com.kh.hongk.project.model.vo.Pmember" alias="Pmember"/>
		<typeAlias type="com.kh.hongk.project.model.vo.Pteam" alias="Pteam"/>
		<typeAlias type="com.kh.hongk.attendance.model.vo.Attendance" alias="Attendance"/>
		<typeAlias type="com.kh.hongk.annual.model.vo.Annual" alias="Annual"/>
		<typeAlias type="com.kh.hongk.work.model.vo.Work" alias="Work"/>
		<typeAlias alias="Approval" type="com.kh.hongk.approval.model.vo.Approval"/>
      	<typeAlias alias="Referrer" type="com.kh.hongk.approval.model.vo.Referrer"/>
      	<typeAlias alias="Files" type="com.kh.hongk.member.model.vo.Files"/>
      	<typeAlias alias="Sig_File" type="com.kh.hongk.approval.model.vo.Sig_File"/>
	
	</typeAliases>

	<mappers>
		<mapper resource="mappers/project-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/ea-mapper.xml"/>
		<mapper resource="mappers/attendance-mapper.xml"/>
		<mapper resource="mappers/annual-mapper.xml"/>
		<mapper resource="mappers/work-mapper.xml"/>
	</mappers>
</configuration>